@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1459150847_1542687.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1459150847_1542687.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1459150847_1542687.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1459150847_1542687.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1459150847_1542687.svg#iconfont') format('svg'); /* iOS 4.1- */
}
body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header {
	position: relative;
	height: ;
	background-color: #91D4DA;
	text-align: center;
	line-height: 3rem;
	color: white;
}
header a {
	position: absolute;
	left: 15px;
	color: inherit;
	text-decoration: none;
	font-size: 2em;
}
header i {
	margin-right: 5px;
    color: inherit;
    font-family: "iconfont";
    font-size: inherit;
    font-style: normal;
}
header h1 {
	margin: 0 auto;
	line-height: 3rem;
	color: inherit;
}
.main nav {
	height: 3rem;
}
.main nav ul {
	display: flex;
	height: 100%;
	line-height: 3rem;
}
.main nav li {
	width: 20%;
	text-align: center;
	font-size: 1rem;
}
.main .active {
	border-bottom: .25rem solid #91D4DA;
}
.img-bear {
	width: 100%;
}
.label-list {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	border-bottom: 1px solid #ddd;
}
.label-list li{
	display: inline-block;
	width: 19%;
	padding-top: .8rem;
	padding-bottom: .8rem;
	text-align: center;
}
.label-round {
	height: 3.2rem;
	width: 3.2rem;
	border-radius: 100%;
	margin: 0 auto;
	background-color: #00C7D6;
}
.label-round img {
	width: 2rem;
	height: 2rem;
	margin-top: .6rem;
}
