body {
	margin: 0;
	padding: 0;
	background-color: #DEDEDE;
}
header {
	position: relative;
	height: 90px;
	background-color: #333;
}
header img {
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -22px;
	height: 43px;
	width: 90px;
}
header ul {
	position: absolute;
	right: 20px;
	top: 50%;
	padding: 0;
	margin-top: -0.5em; 
}
header ul li {
	float: left;
	margin-left: 5px;
	list-style: inside;
	/* 保证撑开li */
	min-width: 100px;
}
header ul a {
	color: #FFF;
	text-decoration: none;
}
.page {
	margin: 15px;
	padding: 20px;
	border: 2px solid #ccc;
	box-shadow: 1px 1px 5px #BBB;
	background-color: #FFF;
}
.page-h-2,.page-author {
	color: #777;
}
.page-content-p {
	text-indent: 2em;
}
.page-content-list {
	list-style: none;
}
.page-container-img {
	margin: 20px;
	width: 280px;
	border: 1px solid #ccc;
	text-align: center;
}
.page-container-img img {
	width: 100%;
}
.page-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #CCC;
}
.page-table thead {
	background-color: #111;
	color: #FFF;
}

.page-table tfoot {
	background-color: #AAA;
}
.page-table td {
	padding: 5px;
}
.page-h-border {
	display: block;
	border-left: 4px solid #AAA;
	padding-left: 10px;
}
.page-form {
	/*font-size: 13px;*/
}
.page-form-group {
	/*border: 1px solid;*/
	/*margin-left: 300px;*/
	padding: 20px 0;
}
.page-form-group-left {
	float: left;
	width: 30%;
	text-align: right;
}
.page-form-group-right {
	margin-left: 30%;
}
.page-form input[type='submit'] {
	display: block;
	margin: 0 auto;
	width: 95%;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: #4080D6;
}
footer {
	height: 50px;
	line-height: 50px;
	background-color: #000;
	color: #FFF;
	text-align: center;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}